In [1]:
marks = float(input("Enter your marks"))

if marks > 90 :
    print("You got 'A' grade")
elif marks > 80 and marks <= 90 :
    print("You got 'B' grade")
elif marks >= 60 and marks <= 80 :
    print("You got 'C' grade")
else :
    print("You got 'D' grade")

Enter your marks 99

You got 'A' grade

In [13]:
cp = float(input("Enter the price of your bike(in Rs)"))

if cp > 100000 :
    print("You will have to pay 15% road TAX.")
elif cp > 50000 and cp <= 100000 :
    print("You will have to pay 10% road TAX.")
else :
    print("You will have to pay 5% road TAX.")

Enter the price of your bike(in Rs) 67800

You will have to pay 10% road TAX.

In [1]:
city = input("Enter the name of city")

if city == "Delhi" or city == "delhi" or city == "DELHI" :
    print("'Red Fort' is the monument of Delhi")
elif city == "Agra" or city == "agra" or city == "AGRA" :
    print("'Taj Mahal' is the monument of Agra")
elif city == "Jaipur" or city == "jaipur" or city == "JAIPUR" :
    print("'Jal Mahal' is the monument of Jaipur")
else :
    print("Data about the monument of '",city,"'is not available")

Enter the name of city delhi

'Red Fort' is the monument of Delhi

In [1]:
print('hello')

hello

In [6]:
 i=70/3
print(i)

23.333333333333332

In [33]:
num = int(input("Enter number greater than 10 :"))
counter=0
while 1:
    if num%3==0:
        num/=3
        if num>=10:
            counter+=1
        else:
            break
print(counter)

Enter number greater than 10 : 243

2

In [ ]:
With the while loop we can execute a set of statements as long as a condition is true.
We can use while loops to run the same task multiple times.
Example is below,

In [34]:
i=1
n=5
while i<=n:
    print(i)
    i+=1

1
2
3
4
5

In [48]:
i=1
while i<=5:
    j=1
    while j<=i:
        print("*",end=" ")
        j+=1
    print("")
    i+=1

*
* *
* * *
* * * *
* * * * *

In [49]:
i=1
while i<=5:
    j=5
    while j>=i:
        print("*",end=' ')
        j-=1
    print('')
    i+=1

* * * * *
* * * *
* * *
* *
*

In [47]:
i=1
while i<=5:
    j=1
    while j<=i:
        print("*",end=" ")
        j+=1
    print("")
    i+=1
i=1
while i<=5:
    j=5
    while j>=i:
        print("*",end=' ')
        j-=1
    print('')
    i+=1

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [50]:
i=1
while i<=5:
    j=1
    while j<=i:
        print(j,end=' ')
        j+=1
    print('')
    i+=1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [51]:
i=1
while i<=5:
    j=5
    while j>=i:
        print(j,end=' ')
        j-=1
    print('')
    i+=1

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [54]:
i=1
while i<=5:
    j=1
    while j<=i:
        print(j,end=' ')
        j+=1
    print('')
    i+=1
i=1
while i<=5:
    j=5
    while j>=i:
        print(j,end=' ')
        j-=1
    print('')
    i+=1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [55]:
i=10
while i>0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1