In [ ]:
You can use while loop to run the same task multiple times and for loops to loop once over list data.
Use for loop when number of iteration is known.
Use while loop number of iterations is unknown and the statement will run until the condition is proved false.
Examples are below:

In [1]:
i=1
n=5
while i<=n:
    print(i)
    i+=1

1
2
3
4
5

In [2]:
fruits=['apple','mango','banana']
for i in fruits:
    print(i)

apple
mango
banana

In [12]:
sum=0
mul=1
for i in range(1,11):
    sum+=i
    mul*=i
print(sum)
print(mul)

55
3628800

In [13]:
sum=0
mul=1
i=1
while i<11:
    sum+=i
    mul*=i
    i+=1
print(sum)
print(mul)

55
3628800

In [17]:
unit=int(input("Enter the units of electricity consumed in a month"))

if unit>0 and unit<=100:
    print(unit*4.5)
    
elif unit>0 and unit<=200:
    print((100*4.5)+
          ((unit-100)*6))
    
elif unit>0 and unit<=300:
    print((100*4.5)+
          (100*6)+
          ((unit-200)*10))
    
elif unit>300:
    print((100*4.5)
         +(100*6)
         +(100*10)
         +((unit-300)*20))

Enter the units of electricity consumed in a month 310

2250.0

In [3]:
l=list(range(1,101))
l1=[]
for i in l:
    if (i**3)%4==0 or (i**3)%5==0:
        l1.append(i)
print(l1)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [7]:
i=1
l1=[]
while i<101:
    if (i**3)%4==0 or (i**3)%5==0:
        l1.append(i)
    i+=1
        
print(l1)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [27]:
string = input("Enter string")
s=list("aeiouAEIOU")
count=0

for i in string:
    if i in s:
        count+=1
print(count)

Enter string "I want to become a data scientist"

12